.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MainText{
  color: #078080;
  width: 100%;
}
.loginText{
  color: #078080;
  font-size: xx-large;
  margin-bottom: 20px;
}
.MainImage{
  border-radius: 10px;
}
.loginImage{
  border-radius: 10px;
}
.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slider{
  position:relative;
  /* height: 100vh; */
  margin-left: 10px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}
.image{
  width:800px;
  height: 600px;
  border-radius: 10px;
}
.left-arrow{
  position: absolute;
  top:50%;
  left:32px;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.right-arrow{
  position: absolute;
  top:50%;
  right:32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.logo_box{
  display: grid;
  position: relative;
  justify-content: left;
  align-items: flex-start;
  width: 40%;
}
.button_logo{
  width: 50px;
  height: 50px;
  border-radius: 70%;
}
.logo_btn{
  width: 150px;
}